@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
  background-color: #f4c617;
  background-image: url("../app/Assets/Vector.png");
  background-attachment: fixed;
  background-size: cover;
}
